@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* HEADER */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

*:hover {
  color: #52B788;
  cursor: pointer;
}

@media(min-width: 412px){
  .nav_bar .burger_menu
  {display: none;}
}

header {
  position: relative;
  padding: 0 2rem;
}

.nav_bar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_bar .links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

/* HEADER DONATE BUTTON */

.add_forest{
  background-color: transparent;
  color: black;
  border-color: #52B788;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add_forest:hover {
  background-color: #52B788;
  color: white;
}

/* RESPONSIVE MOBILE DISPLAY */

@media(max-width: 412px){
  .nav_bar .links,
  .add_forest {
    display: none;
  }

  .nav_bar .burger_menu {
    display: block;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
  }

  .burger_menu_resp {
    display: block;
  }
}

/* DROPDOWN MOBILE MENU */

.burger_menu_resp {
  display: flex;
  position: absolute;
  left: 2rem;
  top: 60px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}

.burger_menu_resp li {
  display: flex;
  padding: 0.7rem;
  align-items: center;
  justify-content: center;
}

.burger_menu_resp .add_forest{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #52B788;
}